body {
  background-color: var(--main-background);

  line-height: auto;
  letter-spacing: 3%;
  color: var(--basic-text-color);

  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;

  width: calc(100% - 30px);
  max-width: 1170px;

  margin: 0 auto;
}
