.clients {
  background-color: var(--main-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include screen('large') {
    gap: 50px;
  }

  &__title {
    @include font('roboto', '28', 'bold');
    color: var(--basic-text-color);
    cursor: default;
    margin: 0;

    @include screen('large') {
      @include font('roboto', '36', 'bold');
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    border: 1px solid var(--icons-color);
    fill: var(--icons-color);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include transition(border-color);

    cursor: pointer;

    width: 210px;
    height: 92px;

    @include screen('medium') {
      width: 226px;
    }

    @include screen('large') {
      width: 170px;
    }
  }

  &__card:hover,
  &__card:focus,
  &__card:active {
    border-color: var(--main-accent);
    fill: var(--main-accent);
  }

  &__logo {
    display: block;

    @include transition(fill);
  }

  &__logo:hover,
  &__logo:focus,
  &__logo:active {
    fill: var(--main-accent);
  }
}