.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 94px;

  cursor: default;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include screen('medium') {
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 740px;
  }

  @include screen('extra-large') {
    flex-wrap: nowrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 450px;

    @include screen('medium') {
      width: 354px;
    }

    @include screen('extra-large') {
      width: 270px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    background-color: var(--medium-background);
    border-radius: 4px;
  }

  &__logo {
    width: 70px;
    height: 70px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    cursor: text;
  }

  &__title {
    @include font('roboto', '14', 'bold');
    color: var(--basic-text-color);
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    @include screen('medium') {
      text-align: left;
    }
  }

  &__text {
    @include font('roboto', '14', 'regular');
    color: var(--primary-text-color);
    line-height: 1.71;
    margin: 0;
  }
}

.showcase {
  display: none;

  @include screen('extra-large') {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__title {
    @include font('roboto', '36', 'bold');
    color: var(--basic-text-color);
    margin: 0;
  }

  &__photos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px;
  }

  &__img {
    display: block;
  }

  &__thumb {
    position: relative;
  }

  &__thumb > &__label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;

    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--thumb-color);

    @include font('roboto', '14', 'bold');
    color: var(--secondary-text-color);
    text-transform: uppercase;
  }
}
