// ekran monitora
@media screen and (min-width: 1200px) {
  .footer {
    background-color: map-get($colors, "dark-background");
    color: map-get($colors, "secondary-text-color");

    &__content {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      justify-content: center;
    }
  }

  .footer-main {
    &__logo {
      margin-bottom: 20px;
      padding-left: 15px;
    }

    &__informations {
      padding-left: 15px;
      margin: 0px;
      list-style: none;
    }

    &__information {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 9px;
    }

    &__information:last-child {
      margin-bottom: 0px;
    }

    &__address {
      font-style: normal;
    }

    &__link {
      color: map-get($colors, "transparent-text-color");
      text-decoration: none;
      padding: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: map-get($colors, "main-accent");
    }
  }

  .footer-links {
    margin-left: 70px;

    &__title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      margin-bottom: 20px;
    }

    &__socials {
      display: flex;
      list-style: none;
    }

    &__buttons {
      background-color: map-get($colors, "transparent-background-color");
      border-radius: 50%;
      padding: 12px;
      margin: 0px 10px 0px 0px;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__buttons:hover,
    &__buttons:focus-within,
    &__buttons:active {
      background-color: map-get($colors, "main-accent");
    }

    &__link {
      display: block;
      width: 20px;
      height: 20px;
    }

    &__icon {
      display: block;
      fill: map-get($colors, "secondary-text-color");
    }
  }

  .newsletter {
    padding-top: 12px;
    margin-left: 78px;

    &__form {
      display: flex;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      align-self: flex-start;
      margin: 12px 0 20px;
    }

    &__input {
      color: map-get($colors, "transparent-text-color");
      background-color: map-get($colors, "dark-background");
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      width: 358px;
      height: 50px;
      padding: 15px 16px;
      margin-top: 20px;
    }

    &__button {
      display: flex;

      width: 200px;
      height: 50px;
      background-color: map-get($colors, "main-accent");
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: 0px;

      color: map-get($colors, "secondary-text-color");
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;

      padding: 10px 28px 10px 42px;
      margin: 20px 0px 0px 12px;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
      background-color: map-get($colors, "main-accent-hover");
    }

    &__icon {
      margin-top: 3px;
      margin-left: 24px;
    }
  }

  .mobile-newsletter {
    display: none;
  }
}

// ekran tabletu
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: map-get($colors, "dark-background");
    color: map-get($colors, "secondary-text-color");
    padding-bottom: 60px;

    &__content {
      width: 100%;
      max-width: 768px;
      padding: 60px 0;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      gap: 144px;
    }
  }

  .footer-main {
    text-align: center;
    
    &__logo {
      margin-bottom: 20px;
    }

    &__informations {
      margin: 0px;
      list-style: none;
    }

    &__information {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 9px;
    }

    &__information:last-child {
      margin-bottom: 0px;
    }

    &__address {
      font-style: normal;
    }

    &__link {
      color: map-get($colors, "transparent-text-color");
      text-decoration: none;
      padding: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: map-get($colors, "main-accent");
    }
  }

  .footer-links {
    text-align: center;

    &__title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      margin: 0 0 20px;
    }

    &__socials {
      display: flex;
      gap: 10px;
      list-style: none;
      margin: 0px;
    }

    &__buttons {
      background-color: map-get($colors, "transparent-background-color");
      border-radius: 50%;
      padding: 12px;
      margin: 0px 0px;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__buttons:hover,
    &__buttons:focus-within,
    &__buttons:active {
      background-color: map-get($colors, "main-accent");
    }

    &__link {
      display: block;
      width: 20px;
      height: 20px;
    }

    &__icon {
      display: block;
      fill: map-get($colors, "secondary-text-color");
    }
  }

  .newsletter {
    display: none;
  }

  .mobile-newsletter {
    display: flex;
    justify-content: center;
    text-align: center;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      align-self: flex-start;
      margin: 12px 0 20px;
    }

    &__input {
      color: map-get($colors, "transparent-text-color");
      background-color: map-get($colors, "dark-background");
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      width: 450px;
      height: 50px;
      padding: 15px 16px;
      margin-top: 20px;
    }

    &__button {
      display: flex;

      width: 200px;
      height: 50px;
      background-color: map-get($colors, "main-accent");
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: 0px;

      color: map-get($colors, "secondary-text-color");
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;

      padding: 10px 28px 10px 42px;
      margin: 20px 0 0 0;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
      background-color: map-get($colors, "main-accent-hover");
    }

    &__icon {
      margin-top: 3px;
      margin-left: 24px;
    }
  }
}

// ekran telefonu
@media screen and (max-width: 767px) {
  .footer {
    background-color: map-get($colors, "dark-background");
    color: map-get($colors, "secondary-text-color");
    padding-bottom: 60px;

    &__content {
      width: 100%;
      max-width: 768px;
      padding: 60px 0;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
  }

  .footer-main {
    text-align: center;
    
    &__logo {
      margin-bottom: 20px;
    }

    &__informations {
      margin: 0px;
      list-style: none;
    }

    &__information {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 9px;
    }

    &__information:last-child {
      margin-bottom: 0px;
    }

    &__address {
      font-style: normal;
    }

    &__link {
      color: map-get($colors, "transparent-text-color");
      text-decoration: none;
      padding: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: map-get($colors, "main-accent");
    }
  }

  .footer-links {
    text-align: center;

    &__title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      margin: 0 0 20px;
    }

    &__socials {
      display: flex;
      gap: 10px;
      list-style: none;
      margin: 0px;
    }

    &__buttons {
      background-color: map-get($colors, "transparent-background-color");
      border-radius: 50%;
      padding: 12px;
      margin: 0px 0px;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__buttons:hover,
    &__buttons:focus-within,
    &__buttons:active {
      background-color: map-get($colors, "main-accent");
    }

    &__link {
      display: block;
      width: 20px;
      height: 20px;
    }

    &__icon {
      display: block;
      fill: map-get($colors, "secondary-text-color");
    }
  }

  .newsletter {
    display: none;
  }

  .mobile-newsletter {
    text-align: center;
    margin: 0 5px;

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      align-self: flex-start;
      margin: 0 auto 20px auto;
    }

    &__input {
      color: map-get($colors, "transparent-text-color");
      background-color: map-get($colors, "dark-background");
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      width: 100%;
      max-width: 450px;
      height: 50px;
      padding: 15px 16px;
      margin-top: 20px;
    }

    &__button {
      display: flex;

      width: 200px;
      height: 50px;
      background-color: map-get($colors, "main-accent");
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: 0px;

      color: map-get($colors, "secondary-text-color");
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;

      padding: 10px 28px 10px 42px;
      margin: 20px auto 0;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
      background-color: map-get($colors, "main-accent-hover");
    }

    &__icon {
      margin-top: 3px;
      margin-left: 24px;
    }
  }
}