// ekran monitora
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    height: 80px;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.2px;

    background-color: map-get($colors, "main-background");
    border: 1px solid map-get($colors, "border-color");
    display: flex;

    &__logo {
      padding-left: 15px;
      padding-right: 93px;
    }

    &__navigation {
      display: flex;
      align-items: flex-start;
      gap: 46px;
      margin: 0px;
    }

    &__link {
      color: map-get($colors, "basic-text-color");
      text-decoration: none;
      margin: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__accent {
      color: map-get($colors, "main-accent");
    }

    &__link:hover {
      color: map-get($colors, "main-accent");
    }

    &__link--is-active-agency {
      position: relative;
    }

    &__link--is-active-agency::after {
      content: "";
      position: absolute;

      left: 0px;
      top: 17px;

      margin-top: 28px;

      width: 53px;
      height: 4px;
      border-radius: 2px;
      background-color: map-get($colors, "main-accent");
    }

    &__link--is-active-portfolio {
      position: relative;
    }

    &__link--is-active-portfolio::after {
      content: "";
      position: absolute;

      left: 0px;
      top: 17px;

      margin-top: 28px;

      width: 58px;
      height: 4px;
      border-radius: 2px;
      background-color: map-get($colors, "main-accent");
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 25px;
    }

    &__contact {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 2;
      margin: 0px;
      gap: 30px;
    }

    &__contact-link {
      color: map-get($colors, "primary-text-color");
      text-decoration: none;
      margin: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact-link:hover {
      color: map-get($colors, "main-accent");
    }

    &__contact-link:hover .header__icon {
      fill: map-get($colors, "main-accent");
    }

    &__align-block {
      display: inline;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      margin-right: 10px;
      fill: map-get($colors, "primary-text-color");
      vertical-align: middle;

      transition-property: fill;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .mobile-menu,
  .menu-toggle,
  .mobile-header {
    display: none;
  }
}

// ekran tabletu
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    width: 100%;
    height: 80px;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.2px;

    background-color: map-get($colors, "main-background");
    border: 1px solid map-get($colors, "border-color");
    display: flex;

    &__logo {
      padding-left: 15px;
      padding-right: 83px;
    }

    &__navigation {
      display: flex;
      align-items: flex-start;
      gap: 46px;
      margin: 0px;
    }

    &__link {
      color: map-get($colors, "basic-text-color");
      text-decoration: none;
      margin: 0px;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__accent {
      color: map-get($colors, "main-accent");
    }

    &__link:hover {
      color: map-get($colors, "main-accent");
    }

    &__link--is-active-agency {
      position: relative;
    }

    &__link--is-active-agency::after {
      content: "";
      position: absolute;

      left: 0px;
      top: 17px;

      margin-top: 28px;

      width: 53px;
      height: 4px;
      border-radius: 2px;
      background-color: map-get($colors, "main-accent");
    }

    &__link--is-active-portfolio {
      position: relative;
    }

    &__link--is-active-portfolio::after {
      content: "";
      position: absolute;

      left: 0px;
      top: 17px;

      margin-top: 28px;

      width: 58px;
      height: 4px;
      border-radius: 2px;
      background-color: map-get($colors, "main-accent");
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding-right: 15px;
    }

    &__side {
      padding-left: 50px;
    }

    &__contact-link {
      color: map-get($colors, "primary-text-color");
      text-decoration: none;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact-link:hover {
      color: map-get($colors, "main-accent");
    }

    &__contact-link:hover .header__icon {
      fill: map-get($colors, "main-accent");
    }

    &__align-block {
      display: inline;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      margin-right: 10px;
      fill: map-get($colors, "primary-text-color");
      vertical-align: middle;

      transition-property: fill;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .mobile-menu,
  .menu-toggle,
  .mobile-header {
    display: none;
  }
}

// ekran telefonu
@media screen and (max-width: 767px) {
  .header__content {
    display: none;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .logo {
    font-size: 24px;
  }

  .mobile-header {
    width: 100%;
    margin: 0 auto;
    max-width: 480px;
    
    padding: 16px 15px;

    display: flex;
    justify-content: space-between;

    &__button {
      padding: 12px 8px;
      background-color: map-get($colors, "main-background");
      border: none;
      width: 40px;
      height: 40px;
    }

    &__button-icon {
      color: map-get($colors, "basic-text-color");

      z-index: 1;

      transition-property: fill;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button-icon:hover {
      fill: map-get($colors, "main-accent");
    }
  }

  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: map-get($colors, "main-background");
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__navigation {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 32px;
      flex-grow: 2;
    }

    &__navigation-link {
      text-decoration: none;
      color: map-get($colors, "basic-text-color");
      font-size: 40px;
      font-weight: 500;
      line-height: 1.17;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__navigation-link:hover {
      color: map-get($colors, "main-accent");
    }

    &__contact {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-content: flex-end;
    }

    &__tel {
      text-decoration: none;
      color: map-get($colors, "main-accent");
      font-size: 34px;
      font-weight: 500;
      line-height: 1.17;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__tel:hover {
      color: map-get($colors, "main-accent-hover");
    }

    &__mail {
      text-decoration: none;
      color: map-get($colors, "primary-text-color");
      font-size: 24px;
      font-weight: 500;
      line-height: 1.17;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__mail:hover {
      color: map-get($colors, "main-accent");
    }

    &__socials {
      display: flex;
      align-items: center;
      margin: 32px 0 0 0;
      gap: 10px;
    }

    &__social-link {
      width: 100%;
      max-width: 357px;
      text-decoration: none;
      color: map-get($colors, "main-accent");
      font-size: 18px;
      font-weight: 500;
      line-height: 1.22;

      transition-property: color;
      transition-duration: 250ms;
      transition-delay: 0ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-link:hover {
      color: map-get($colors, "main-accent-hover");
    }

    &__socials-accent {
      font-size: 22px;
      color: map-get($colors, "icons-color");
    }
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}