.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;

    width: 40px;
    height: 40px;
  }

  &__button-icon {
    color: var(--basic-text-color);
    transition: fill 0.25s ease-in-out;
  }

  &__button-icon:hover {
    fill: var(--main-accent);
  }

  @include screen('medium') {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  padding: 48px 40px;
  background-color: var(--main-background);

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;

  &__navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 32px;

    margin: 0;
  }

  &__navigation-link {
    @include font('roboto', '40', 'medium');
    color: var(--basic-text-color);

    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-accent);
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
  }

  &__tel {
    @include font('roboto', '34', 'medium');
    color: var(--main-accent);

    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-accent-hover);
    }
  }

  &__mail {
    @include font('roboto', '24', 'medium');
    color: var(--primary-text-color);

    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-accent);
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin: 0;
  }

  &__social-link {
    display: flex;
    align-items: center;
    gap: 10px;

    @include font('roboto', '18', 'medium');
    color: var(--main-accent);

    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-accent-hover);
    }
  }

  &__socials-accent {
    color: var(--icons-color);
  }
}

.header {
  background-color: var(--main-background);
  border-bottom: 1px solid var(--border-color);

  &__content {
    display: none;

    @include screen('medium') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 83px;

      height: 80px;
    }

    @include screen('large') {
      gap: 93px;
    }

    @include screen('extra-large') {
      gap: 103px;
    }
  }

  &__navigation {
    display: flex;
    gap: 60px;

    margin: 0px;

    @include screen('large') {
      gap: 46px;
    }
  }

  &__link {
    @include font('roboto', '14', 'medium');
    color: var(--basic-text-color);
    margin: 0px;

    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-accent);
    }
  }

  &__link--is-active {
    color: var(--main-accent);
    position: relative;

    &:after {
      content: '';
      position: absolute;

      left: 0px;
      top: 17px;

      width: 100%;
      height: 4px;
      margin-top: 27px;

      border-radius: 2px;
      background-color: var(--main-accent);
    }

    &:hover {
      color: var(--main-accent-hover);
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2;
    gap: 10px;

    @include screen('large') {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__contact-link {
    display: flex;
    justify-content: flex-end;

    gap: 10px;

    @include font('roboto', '14', 'medium');
    color: var(--primary-text-color);

    transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;

    &:hover,
    &:hover .header__icon {
      color: var(--main-accent);
      fill: var(--main-accent);
    }
  }

  &__icon {
    fill: var(--primary-text-color);

    width: 16px;
    height: 16px;
  }
}
