.logo {
    text-decoration: none;

    font-family: var(--font-raleway);
    font-size: var(--size-26);

    color: var(--logo-color);

    &__accent {
        color: var(--main-accent);
    }

    :hover {
        &__accent {
            color: var(--main-accent-hover);
        }
    }
  }

.logo--alt {
    color: var(--secondary-text-color);
}