.logo {
  text-decoration: none;

  @include font('raleway', '24', 'bold');
  color: var(--logo-color);

  &__accent {
    color: var(--main-accent);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    .logo__accent {
      color: var(--main-accent-hover);
    }
  }

  @include screen('large') {
    @include font('raleway', '26', 'bold');
  }
}

.logo--alt {
  color: var(--secondary-text-color);
}
