.sorting {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 8px;

    &__button {
        background-color: var(--medium-background);
        color: var(--basic-text-color);

        border: none;
        border-radius: 4px;
        padding: 10px 22px;

        text-align: center;
        @include font('roboto', '16', 'medium');
        
        @include transition(color, background-color, box-shadow);

        cursor: pointer;
    }
    
    &__button:hover,
    &__button:focus,
    &__button:active {
        color: var(--secondary-text-color);
        background-color: var(--main-accent);
        box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001A;
    }
}