.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: var(--medium-background);

  @include screen('large') {
    gap: 50px;
  }

  &__title {
    @include font('roboto', '28', 'bold');
    color: var(--basic-text-color);
    margin: 0;

    cursor: default;

    @include screen('large') {
      @include font('roboto', '36', 'bold');
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    width: 100%;
    max-width: 450px;

    @include screen('medium') {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 738px;
    }

    @include screen('large') {
      flex-wrap: nowrap;
      max-width: 1170px;
    }

    @include screen('extra-large') {
      flex-wrap: nowrap;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include screen('small') {
      width: 450px;
    }

    @include screen('medium') {
      width: 354px;
    }

    @include screen('large') {
      width: 270px;
    }
  }

  &__photo {
    display: block;
    width: 100%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0 24px;
  }

  &__name {
    @include font('roboto', '16', 'medium');
    color: var(--basic-text-color);
    text-align: center;
    margin: 0;
  }

  &__position {
    @include font('roboto', '16', 'regular');
    color: var(--primary-text-color);
    text-align: center;
    margin: 0;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 6px;
  }

  &__icons {
    background-color: none;
    border-radius: 50%;
    padding: 12px;

    @include transition(background-color);

    cursor: pointer;
  }

  &__icons:hover,
  &__icons:focus-within,
  &__icons:active {
    background-color: var(--main-accent);
    fill: var(--secondary-text-color);
  }

  &__socials-icon {
    display: block;
    fill: var(--icons-color);
  }

  &__icons:hover &__socials-icon,
  &__icons:focus-within &__socials-icon,
  &__icons:active &__socials-icon {
    fill: var(--secondary-text-color);
  }
}
